import(methods)

import(grDevices)##needed by RColorBrewer
importFrom(RColorBrewer, brewer.pal)

importFrom(grid,
           gpar,
           viewport,
           polygonGrob,
           linesGrob, segmentsGrob, textGrob,
           grid.layout, frameGrob, placeGrob,
           grid.locator,
           convertX, convertY,
           unit)

import(lattice)

importFrom(latticeExtra,
           horizonplot,
           layer, glayer,
           custom.theme,
           custom.theme.2,
           xscale.components.subticks,
           yscale.components.subticks
           )

importFrom(hexbin,
           BTC,
           panel.hexbinplot,
           hexbinplot)


importClassesFrom(sp, SpatialPoints)
importFrom(sp,
           SpatialPoints,
           degreeLabelsNS,
           degreeLabelsEW,
           CRS,
           point.in.polygon)

importFrom(zoo,
           zoo)##,
           ##xyplot)

import(raster)

export(
  'chooseRegion',
  'xyLayer',
  'rasterTheme',
  'BTCTheme',
  'GrTheme',
  'RdBuTheme',
  'BuRdTheme',
  'PuOrTheme',
  'streamTheme',
  'xscale.raster',
  'yscale.raster',
  'xscale.raster.subticks',
  'yscale.raster.subticks'
    )

exportMethods(
              "bwplot",
              "densityplot",
              "histogram",
              "horizonplot",
              "hovmoller",
              "identifyRaster",
              "levelplot",
              "contourplot",
              "vectorplot",
              "streamplot",
              "splom",
              "xyplot",
              "hexbinplot",
              "plot3D",
              "gplot"
              )
