import(methods)

import(grDevices)##needed by RColorBrewer
importFrom(RColorBrewer, brewer.pal)

importFrom(grid,
           gpar,
           viewport,
           polygonGrob,
           grid.locator,
           convertX, convertY,
           unit)

import(lattice)



importFrom(latticeExtra,
           horizonplot,
           layer, glayer,
           custom.theme,
           custom.theme.2
           )

importFrom(hexbin,
           BTC,
           panel.hexbinplot,
           hexbinplot)


importClassesFrom(sp, SpatialPoints)
importFrom(sp, SpatialPoints)

importFrom(zoo,
           zoo)##,
           ##xyplot)

import(raster)

##importFrom(mgcv, in.out)


export(
       'chooseRegion',
       'xyLayer',
       'rasterTheme',
       'BTCTheme',
       'GrTheme',
       'RdBuTheme',
       'xscale.raster',
       'yscale.raster',
       'xscale.raster.subticks',
       'yscale.raster.subticks'
       )

exportMethods(
              "bwplot",
              "densityplot",
              "histogram",
              "horizonplot",
              "hovmoller",
              "identifyRaster",
              "levelplot",
              "contourplot",
              "vectorplot",
              "splom",
              "xyplot",
              "hexbinplot",
              "plot3D",
              "gplot"
              )
